
@font-face {
    src: url(fonts/Baloo2-Regular.ttf)format("truetype");
    font-weight: normal;
    font-style: normal;
    font-family: baloo;
  }
@font-face {
    font-family: baloo-med;
    src: url(fonts/Baloo2-Medium.ttf)format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: poppins;
    src: url(fonts/Baloo2-Regular.ttf)format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
      font-family: merienda;
      src: url(fonts/Merienda-Regular.ttf)format("truetype");
      font-weight: normal;
      font-style: normal;
    }

.carousel-item{
    /* height: 100vh;
    min-height: 300px; */
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;
    
}

.carousel-caption{
    bottom: 220px !important;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
}
.carousel-caption a{
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}



.service-carousel >.carousel-item {
    width:100% !important;
    height: 10px;
}



.navbar{
    /* background-color: rgba(22, 20, 20, 0.603); */
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(92, 89, 89, 0.7));
}

.navbar-nav > li  > .dropdown-menu {
    background-color: #69899f;
    /* max-height: 400px;
    overflow-y: auto; */
    color: #fff;
   
  }

.navbar-nav > li > .dropdown-menu { 
    background-color: rgba(0,0,0,.5); 
}
.scrollable-menu{
    height: auto;
    max-height: 310px;
    overflow-x: hidden;
}
.dropdown-item{
    color: #fff !important;
}
.dropdown-item:hover{

    background-color: rgba(22, 20, 20, 0.603) !important;
}

@media only screen and (max-width: 767px){
    .navbar-collapse{                       /*dropdown background*/
        background: rgba(0,0,0,.5);
    }

    .navbar-nav ml-auto{                    /*Toggle*/
        background: rgba(0,0,0,0.5);
    }
    .navbar-toggler{
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
}









.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-brand{
    color: #fff !important;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:hover {
    color: rgb(202, 101, 101) !important;
    -webkit-animation: bounceIn 1s;
    animation: bounceIn 1s;
}

.navbar-light .navbar-nav.active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav.show > .nav-link {
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(235, 180, 60) !important;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus{
    color: #fff;
}




.h-miles{
    padding-top: 1em;
text-align: center;
}
.card {
    margin: 0 auto; 
    /* float: none; */
    /* margin-bottom: 10px; */
}
.card-img-top{
    width: 100%!important;
    height: 200px!important;
    object-fit: cover;
 }
.special .card{
    height: 25em;
    margin-bottom: 1em;
}
.card-img > label{
    font-size: 35px;
    color:rgb(235, 46, 21);

}

.history-text{
    /* height: 320vh; */
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
.vertical-line { 
    border-left: 1px solid #69899f; 
    height: 120%; 
    position:absolute; 
    left: 50%; 
} 


.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }